.about-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.about-content * {
  margin: 20px 0;
}

.about-info {
  max-width: 900px;
  font-size: calc(18px + 0.32vw);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #131116;
}

.about-title {
  font-size: calc(15px + 0.32vw);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: 6px;
  text-align: left;
  color: #131116;
}

@media screen and (min-width: 750px) {
}

@media screen and (min-width: 750px) {
  .about-content {
  }
}

.more-button {
  width: calc(200px + 5vw);
  height: 70px;
  border: 1px solid;
  position: relative;
  cursor: pointer;
  font-size: calc(15px + 0.25vw);
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-button:hover {
}

.more-button:before {
  content: "";
  display: block;
  position: absolute;
  background: #ffffff;
  top: -2px;
  bottom: -2px;
  width: calc(150px + 4vw);
  left: 0;
  right: 0;
  margin: auto;
  transition: width 0.2s;
}

.more-button:after {
  content: "";
  display: block;
  position: absolute;
  background: #ffffff;
  left: -2px;
  right: -2px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px;
  transition: height 0.2s;
}

.more-button:hover:before {
  width: 0;
}

.more-button:hover:after {
  height: 0;
}

.more-button span {
  position: relative;
  z-index: 1;
}
