.option{
    position: relative;
    font-size: 36px;
    width: 300px;
    text-align: center;

}

.option:after{
    width: 10px;
    height: 10px;
    background-color: black;
    left: 50%;
    position: absolute;
    bottom: -40px;
    content: '';
    opacity: 0;

}

.option:hover:after{
    opacity: 1;
    bottom: -20px;
    transition: 0.5s opacity, 0.2s bottom;; 

}

.option:hover{
    cursor: pointer;
}

.close-btn{
    position: fixed;
    right: 30px;
    top: 30px;
    cursor: pointer;

}

.close-btn:hover{
    
}