* {
  box-sizing: border-box;
}

.full-page-section {
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 600px;
  width: 100%

}

.nav-column {
  height: 100%;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.bang-logo {
  width: calc(60px + 1vw);
  height: 40px;
}

.arrow {
  width: 33px;
}
.arrow-center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50px;
}

.bang-text-botom {
  width: calc(50px+1vw);
  font-size: calc(10px+1vw);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
}

.full-page-section-content {
  overflow: hidden;
  flex-grow: 4;
  position: relative;
}

.section-select-menu {
  width: 100px;
  height: 150px;
  font-size: 18px;
  font-weight: 0.1;
  display: flex;
  flex-direction: column;
}

.select-section {
  flex-grow: 1;
  color: #e6e6e6;
  margin: 5px 0;
  display: flex;
  position: relative;
}

.select-section-active {
  color: black;
}

.select-section-active::after {
  content: "";
  background-color: black;
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -15px;
}
.option-text {
  position: absolute;
  bottom: -30px;
  transition: bottom 0.3s;
  color: black;
}
.option-number {
  position: absolute;
  bottom: 0;
  top: 0;
  transition: top 0.3s;

  /* transition: none; */
}

.overed-select-section > a > .option-text {
  bottom: 0;
}

.overed-select-section > a > .option-number {
  top: -30px;
}

@media screen and (min-width: 750px) {
}
@media screen and (min-width: 750px) {
  .horizontal-menu-button {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .verical-menu-button {
    display: none;
  }

  .bang-text-botom {
    display: none;
  }

  .nav-column {
    flex-direction: row;
    flex-grow: 0;
    height: initial;
  }

  .right-nav-column {
    justify-content: center;
  }

  .full-page-section {
    flex-direction: column;
    padding: 20px;
  }

  .section-select-menu {
    display: none;
  }
}
