* {
  box-sizing: border-box;
}

.full-page-section {
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 400px;
  min-height: 500px;
}

.nav-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.bang-logo {
  width: calc(60px + 1vw);
}

.arrow {
  width: 33px;
}
.arrow-center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50px;
}

.bang-text-botom {
  width: calc(50px+1vw);
  font-size: calc(10px+1vw);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
}

.full-page-section-content {
  overflow: hidden;
  flex-grow: 4;
}

.section-select-menu {
  width: 100px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 0.1;
}

.select-section {
  position: relative;
  margin: 5px 0;
}

.option-text {
  position: absolute;
  left: -100px;
  transition: left 0.3s;
}
.option-number {
  position: absolute;
 
  left: 0;
  color: red; transition: left 0.1s ease 0.25s;

  /* transition: none; */
}

.overed-select-section > .option-text {
  left: 0;
}

.overed-select-section > .option-number {
  transition: none;
  left: -30px;
}

.option-text {
  position: absolute;
}

@media screen and (min-width: 750px) {
}
@media screen and (min-width: 750px) {
}

@media screen and (max-width: 750px) {
  .nav-column {
    flex-direction: row;
    flex-grow: 0;
    height: initial;
  }

  .full-page-section {
    flex-direction: column;
    padding: 20px;
  }

  .section-select-menu {
    display: none;
  }
}
